:root {
  --map-tiles-filter: invert(100%) hue-rotate(180deg) brightness(95%)
    contrast(90%);
}

@media (prefers-color-scheme: dark) {
  .leaflet-container {
    background: black;
  }

  .map-tiles {
    filter: var(--map-tiles-filter, none);
  }
}
